<div class="page-header">
    <h2>Step 4 - Learning materials</h2>
    <span class="lead">Upload your learning video/s, create questions to test knowledge on video/s,
And create notes to compliment the lesson under consideration</span>
</div>
<div ncy-breadcrumb></div>
<div>
    <tabset>
        <tab
                ng-repeat="t in tabs"
                heading="{{t.heading}}"
                select="go(t.route)"
                active="t.active">
        </tab>
    </tabset>
    <div ui-view class="tab-content">

    </div>
</div>
