<div class="page-header">
    <h1>Test/Exam Information</h1>
</div>
<div class="col-xs-6">
    <form name="quizForm" novalidate>
        <div class="form-group required">
            <label class="control-label" for="name">Test/Exam name</label>
            <input id="name" ng-model="quiz.name" type="text" name="name" placeholder="Enter quiz name"
                   class="form-control" required>
        </div>
        <div class="form-group required">
            <label class="control-label" for="description">Test/Exam description</label>
        <textarea id="description" ng-model="quiz.description" name="description" class="form-control" rows="6"
                  placeholder="Description" required></textarea>
        </div>
        <div class="form-group required">
            <label class="control-label">Test/Exam date</label>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" href="javascript:;">
                    <div class="input-group"><input placeholder="Date" type="text" class="form-control"
                                                    data-ng-model="quiz.date" name="
                                                    date" required><span class="input-group-addon"><i
                            class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-on-set-time="onTimeSet(newDate, oldDate)" data-ng-model="quiz.date"
                                    data-datetimepicker-config="{ startView:'month', minView:'month', dropdownSelector: '#dropdown2' }">
                </ul>
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label">Test/Exam (Hours and Minutes)</label>
            <div class="row">
                <div class="col-md-3">
                    <uib-timepicker ng-model="quiz.hours" show-meridian="false" hour-step="1" minute-step="5"></uib-timepicker>
                </div>
                <div class="col-md-9">
                    <span style="margin-top: 30px;display: block;">Select time span for students to take your test/exam. Once
                        time is up, students will be unable to complete the test/exam</span>
                </div>
            </div>

            <!--<input id="hours" type="number" placeholder="Hours" class="form-control" ng-model="quiz.hours" min="0" value="0">-->
        </div>
        <div class="form-group flex-content flex-justify-between">
            <button type="submit" class="btn btn-primary" ng-click="!quizForm.$invalid?saveQuiz():'' ">Save</button>
            <a ui-sref="grade-index.level.subject.lessons.materials.quizzes" id="back-quiz-list"
               class="btn btn-default pull-right">Back</a>
        </div>
    </form>
</div>
<div class="col-xs-6">
    <ul ng-show="quizForm.$invalid && quizForm.$submitted" id="errors">
        <li ng-messages="quizForm.name.$error">
            <span ng-message="required">Quiz name field is required</span>
        </li>
        <li ng-messages="quizForm.description.$error">
            <span ng-message="required">Quiz description field is required</span>
        </li>
        <li ng-messages="quizForm.date.$error">
            <span ng-message="required">Quiz date field is required</span>
        </li>
    </ul>
</div>