<div class="row">
    <div class="col-md-6">
        <div class="form-group required">
            <label class="control-label">Old password</label>
            <input type="password" class="form-control" placeholder="Enter your old password" required>
        </div>
        <div class="form-group required">
            <label class="control-label">New password</label>
            <input type="password" class="form-control" placeholder="Enter new password" required>
        </div>
        <div class="form-group required">
            <label class="control-label">Confirm new password</label>
            <input type="password" class="form-control" placeholder="Confirm new password" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary">Save</button>
    </div>
</div>