<div class="row">
    <div class="col-md-12">
        <i style="cursor:pointer;" class="fa fa-question-circle"
           uib-tooltip="Enter how much you intend to charge your
students here."
           tooltip-placement="right"
        ></i>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Price per subject/month:</label>
            <input ng-model="prices.price_per_subject" type="text" class="form-control" placeholder="Type your price">
        </div>
        <div class="form-group">
            <label class="control-label">Price for all subjects/month:</label>
            <input ng-model="prices.price_for_all_subjects" type="text" class="form-control" placeholder="Type your price">
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button class="btn btn-primary" ng-click="saveSubjectsPrices(prices)">Save price</button>
        </div>
    </div>
</div>
