<div class="row">
    <div class="col-md-12">
        <i style="cursor:pointer;" class="fa fa-question-circle"
           uib-tooltip="Add the subjects you are going to be offering online here. Subjects added here will be
displayed to students searching for a tutor in various subject(s) area."
           tooltip-placement="right"
        ></i>
    </div>
</div>
<div class="checkbox" ng-repeat="subject in subjects">
    <label>
        <input type="checkbox" checklist-model="tutorSubjects" checklist-value="subject"> {{subject.name}}
    </label>
</div>

<div class="form-group">
    <button class="btn btn-primary" ng-click="saveSubjects()">Save</button>
</div>
