<div class="page-header">
    <h2>Content Management System</h2>
</div>
<div ncy-breadcrumb></div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Pages list</div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item clearfix"
                ng-repeat="page in pages track by $index">
                    <span>{{page.title}}</span><span class="pull-right"><button
                        class="btn btn-primary btn-xs" ng-click="go('.edit', {page_id: page.id}, page)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit page</button></span></li>
            </ul>
        </div>
    </div>
</div>
