<div class="page-header">
    <h2>Change avatar</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div>Select an image file: <input custom-on-change="handleFileSelect" type="file" id="fileInput" /></div>
        </div>
        <div class="form-group">
            <div class="cropArea">
                <img-crop area-min-size="80" area-type="square" image="avatar.original?avatar.original:avatar.original=profile.avatar_original" result-image="avatar.cropped"></img-crop>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button btn btn-danger" ng-click="closeThisDialog(0)">Cancel</button>
            <button type="submit" class="ngdialog-button btn btn-primary"
                    ng-click="confirm(avatar)">
                Change
            </button>
        </div>
    </div>
</div>
