<div class="row">
    <div class="col-md-12">
        <h1>Delete video ?</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="ngdialog-buttons">
            <button type="submit" class="ngdialog-button btn btn-primary"
                    ng-click="closeThisDialog(0)">Cancel
            </button>
            <button type="submit" class="ngdialog-button btn btn-danger"
                    ng-click="confirm(deletedVideo)">Delete
            </button>
        </div>
    </div>
</div>