<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Topics</h3>
        </div>
        <div class="panel-body panel-table-body">
            <table class="table table-hover topics-list">
                <h3 ng-show="isEmptyTopics" style="margin-left: 29px;">No topics</h3>
                <tr ng-repeat="topic in topics track by $index" class="topic-item"
                    ng-click="showSubTopics(topic.id, $event)">
                    <td><span editable-text="topic.name" e-form="textBtnForm"
                              onbeforesave="checkName($data)" onaftersave="updateTopic(topic.id)">
                                        <span ng-bind="topic.name"></span>
                                     </span></td>
                    <td><button title="Remove topic" ng-click="deleteTopic($index)" class="btn btn-xs btn-danger pull-right"><span
                            class="glyphicon glyphicon-remove"></span></button>
                        <button data-toggle="popover" title="Edit topic" ng-click="$event.preventDefault(); textBtnForm.$show()"
                                ng-hide="textBtnForm.$visible"
                                class="btn btn-xs btn-primary pull-right examtype-edit-btn"><span
                                class="glyphicon glyphicon-pencil"></span></button></td>
                </tr>

            </table>
        </div>
    </div>
</div>
<div class="input-group form-group">
    <input type="text" ng-model="newTopic.name" placeholder="Enter name of Topic" class="form-control">
                  <span class="input-group-btn">
                      <button class="btn btn-primary pull-left" ng-click="createTopic()"><span
                              class="glyphicon glyphicon-plus"></span>Add topic
                      </button>
                  </span>
</div>
