.userCount
  &__title
    font-size: 24px;
    color: #ffffff;
    display: block;
    margin: 40px auto;
  &__count
    font-size: 118px;
    color: #ffffff;
    text-align: center;
  &__userType
    font-size: 48px;
    color: #ffffff;