<div class="page-header">
    <h2>Step 3 – Lessons</h2>
    <span class="lead">Create and add the lessons you are teaching under your subject</span>
</div>
<div ncy-breadcrumb></div>
<div class="row">
    <div class="col-md-12">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="margin-bottom: 20px;">
            <li ui-sref-active="active"><a ui-sref="grade-index.level.subject.lessons({subject_id: subject_id})"><i class="fa fa-list-ol"></i> Lessons</a></li>
            <li ui-sref-active="active"><a ui-sref="grade-index.level.subject.students({subject_id: subject_id})"><i class="fa fa-graduation-cap"></i> Students</a></li>
        </ul>
    </div>
</div>

<div ui-view></div>
<div class="row">
    <div class="col-md-12">
        <span class="lead">Proceed to <strong>step 4</strong> by selecting a lesson, and then create and add your teaching materials (videos, test questions and notes)</span>
    </div>
</div>